.material1{
    width:56px;
    height:100px;
}
.material3{
    width:30px;
    height:70px;;
}
.colba1{
    width:56px;
    height:100px;
}
.colba2{
    width:54px;
    height:100px;
}
.colba3{
    width:26px;
    height:100px;
}
.utensils_liquid1{
    width:90px; 
    height:67px;
}
.cap1{
    width:42px; 
    height:40px;  
}
.cap2{
    width:30px; 
    height:32px;
}
.fitil1{
    width:20px;
    height:80px;
}
.match1{
    width:70px;
    height:50px;
}
.funnel1{
    width:58px; 
    height:60px;
}
.tweezers1{
    width: 96px;
    height: 50px;
}
.spoon1{
    width: 96px;
    height: 50px;    
}
.duct1{
    width:98px; 
    height:100px; 
}
.staff_fixture1{
    width:98px;
    height:22px;
}
.staff_fixture2{
    width:32px;
    height:32px;
}
.mixer1{
    width:16px;
    height:100px;
}
.magnet1{
    width:70px; 
    height:80px;
}
.cotton1{
    width:40px; 
    height:40px;
}

.gallipot1{
    width:8px; 
    height:100px;  
}
.paper_over1{
    width:98px;
    height:50px;
}
.pipette1{
    width: 56px;
    height: 54px;   
}

.plate1{
    width:90px;
    height:35px
}
.plate_liquid1{
    width:80px;
    height:50px
}
.box1{
    width:310px;
    height:120px    
}
.box_head1{
    width:224px;
    height:10px    
}

.paper1{
    width:180px;
    height:72px  
}
.divider1{
    width:32px;
    height:192px   
}

.cup1{
    width:40px;
    height:60px; 
}


.staff_ring1{
    width:98px;
    height:16px;
}

.staff_hand1{
    width:98px;
    height:20px;
}



.staff_hand_fixture1, .staff_ring_fixture1{
    width:175px;
    height:30px;
}


.spirit_lamp1{
    width: 90px;
    height: 82px;
}


.chemical_balance1{
    width: 90px;
    height: 82px;
}
.chemical_balance_plate1{
    width: 70px;
    height: 54px;
}

/*--------------------------green_water solt_water*/
.grass_water{
    width:40px;
    height:80px;
}
.solt_water{
    width:56px;
    height:100px;
}

.drop_glass{
    width:80px;
    height:20px;
}
.glass_stick{
    width: 20px;
    height: 80px;
}
.pipette1{
    width: 17px;
    height: 100px;
}
.cover_glass{
    width: 55px;
    height: 19px;
}
.elipse{
    position: absolute;
    top: 3px;
    left: 30px;
    margin: 0px auto;
    width: 1px;
    height: auto;
    /*visibility: hidden;*/
}

/*----------------------------------------------------*/
#spirit_cap{
    width:42px; 
    height:40px;  
}


#colba1, #spirt{
    width:56px;
    height:100px;
}
#colba2{
    width:54px;
    height:100px;
}
#oil{
    width:30px;
    height:70px
}

#tweezers{
    width: 96px;
    height: 50px;
}



